body {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

div.container {
    border: 4px solid rgb(29, 77, 235);
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 150px;
    font-size: 50px;
}

/* RGBA */
#qubes {
    background-color: rgba(180, 223, 39, 0.5);
}

/* HSL */
#tails {
    background-color: hsl(120, 100%, 30%);
}

/* HSLA */
#parrot {
background-color: hsla(240, 100%, 30%, 0.5);
}

/* Opacity */
#alpine {
    background-color: blueviolet;
    opacity: 0.7;
}